svg {
    font: 10px sans-serif;
}

.y.axis path {
    display: none;
}

.y.axis line {
    stroke: #fff;
    stroke-opacity: .2;
    shape-rendering: crispEdges;
}

.y.axis .zero line {
    stroke: #000;
    stroke-opacity: 1;
}

.title {
    font: 300 78px Helvetica Neue;
    fill: #666;
}

.birthyear,
.age {
    text-anchor: middle;
}

.birthyear {
    fill: #fff;
}

rect {
    fill-opacity: .6;
    fill: #e377c2;
}

rect:first-child {
    fill: #1f77b4;
}

.svg-btn{
    fill: #466EB4;
    fill-opacity: .1;
    stroke: steelblue;
    stroke-opacity: .2;
}

.svg-btn-text{
    text-anchor: middle;
    fill: #ffffff;
    stroke: none;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

text.population{
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 40px;
    fill: black;
}