---
layout: page
title: "me"
description: ""
group: "navigation"
---
{% include JB/setup %}

{% assign category = site.categories.me %}

  <ul>
    	{% assign pages_list = category %}  
    	{% include JB/pages_list %}
  </ul>

  <p>This is me</p>


<p>
	<a class="btn btn-github" href="https://www.github.com/andtorg"><i class="fa fa-github"></i></a>
	<a class="btn btn-twitter" href="http://www.twitter.com/andtorg"><i class="fa fa-twitter"></i></a>
	<a class="btn btn-google-plus" href="http://www.google.com/+AndreaTorre_andtorg"><i class="fa fa-google-plus"></i></a>
	<a class="btn btn-linkedin" href="https://www.linkedin.com/pub/andrea-torre/6/191/a36"><i class="fa fa-linkedin"></i></a>
</p>							
		